.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.brutalistButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff; /* Adjusted to white for dark theme */
  border-radius: 12px;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  box-shadow: 4px 4px 0px #ffffff; /* Adjusted to white */
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 130px;
  width: 130px;
  cursor: pointer;
  background-color: transparent;
}

.brutalistButton.openai {
  background-color: #356854;
  border-color: #000;
  box-shadow: 4px 4px 0px #000;
  color: #000;
}

.brutalistButton::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -150%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}

.brutalistButton.openai::before {
  background-color: #316b58;
}

.brutalistButton:hover::before {
  transform: translateX(-50%) scale(1);
}

.brutalistButton:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px #000;
}

.brutalistButton:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px #000;
}

.openaiLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #0f1715;
}

.openaiIcon {
  width: 54px;
  height: 54px;
  fill: #ffffff;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.brutalistButton:hover .openaiLogo {
  animation: spin 5s linear infinite;
  width: 50px;
  height: 50px;
  top: 28%;
}

.brutalistButton:hover .openaiIcon {
  transform: scale(0.6);
}

.buttonText {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  z-index: 2;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
}

.buttonText span:first-child {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.buttonText span:last-child {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.brutalistButton:hover .buttonText {
  opacity: 1;
  transform: translateY(0);
}

.brutalistButton.openai:hover .buttonText {
  color: #d3d3d3;
}

.brutalistButton.openai:hover .buttonText span:last-child {
  color: #d6cbbf;
}
